
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(161 161 170);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.nav-link {
  transition: 0.2s ease-in;
  @apply mx-4 px-3 py-2 rounded-xl text-amber-200 opacity-70;
}


.nav-link:hover {
  @apply text-amber-100
}


.active {
  @apply text-amber-100 opacity-100 decoration-1;
}
